<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div >


      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :price %><br>
    <%= f.text_field :price %><br><br>

    <%= f.label :real %><br>
    <%= f.text_field :real %><br><br>

    <%= f.label :weight %><br>
    <%= f.text_field :weight %><br><br>

    <%= f.label :description %><br>
    <%= f.text_area :description %><br><br>

    <%= f.submit %><br><br>

<% end %>
